.about {
  margin-top: 2rem;
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__question {
    cursor: pointer;
    padding: 5px 8px;
    border-bottom: 1px solid #9f0092;
  }
  &__content {
    overflow: hidden;
    font-size: 2rem;
  }
  &__answer {
    padding: 10px 0px 10px 20px;
  }
}
