.cart__product {
  margin-top: 1rem;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.074);
  font-size: 1.8rem;
}

.cart__product-name {
  flex-grow: 2;
  flex-basis: 0;
}

.cart__product-amount {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}

.amount-minus {
  padding-right: 0.8rem;
  cursor: pointer;
  font-size: 0.8em;
}

.amount-plus {
  padding-left: 0.8rem;
  font-size: 0.8em;
  cursor: pointer;
}

.cart__product-price {
  flex-grow: 1;
  flex-basis: 0;
}

.cart__product-total {
  flex-grow: 1;
  flex-basis: 0;
}

@media screen and (max-width: 420px) {
  .amount-minus {
    padding-right: 0.8rem;
    font-size: 1em;
  }
  .amount-plus {
    padding-left: 0.8rem;
    font-size: 1em;
  }
  .cart__product-name {
    flex-grow: 3;
  }
  .cart__product-amount {
    flex-grow: 2;
  }
}
