.cartitem {
  margin-top: 1rem;
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.074);
  font-size: 1.6rem;

  &__name {
    flex-grow: 3;
    flex-basis: 0;
  }
  &__amount {
    display: flex;
    flex-grow: 2;
    flex-basis: 0;
    align-items: center;
  }
  &__price {
    flex-grow: 1;
    flex-basis: 0;
  }
  &__total {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.amount-minus {
  padding-right: 0.8rem;
  cursor: pointer;
  font-size: 0.8em;
}

.amount-plus {
  padding-left: 0.8rem;
  font-size: 0.8em;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .cartitem {
    &__name {
      flex-grow: 2;
    }

    &__amount {
      flex-grow: 1;
    }
  }
}
