.nav {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__item-logo {
    padding: 1rem 1rem;
  }

  &__link {
    text-decoration: none;
    color: rgb(152, 152, 152);
  }

  &__item {
    padding: 1rem 0rem 1rem 1rem;
  }
  &__item:last-of-type {
    padding: 0rem;
    margin-left: 1rem;
  }
}

.cart {
  position: relative;
  transition: 0.2s all ease-in-out;

  &__image {
    width: 40px;
    height: 40px;
  }

  &__nr {
    font-size: 1.2rem;
    padding: 0rem 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0);
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: transform 0.9s ease-out;
    background-color: rgba(0, 0, 0, 0.734);
    border-radius: 50%;
  }
}

.jello {
  -webkit-animation: jello 0.9s both;
  animation: jello 0.9s both;
}

.show {
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (min-width: 768px) {
  .nav {
    font-size: 2.2rem;

    &__link {
      &:hover {
        text-decoration: none;
        color: black;
      }
    }

    &__item {
      padding: 1rem;
    }
  }

  .cart {
    &:hover {
      transform: scale(1.3);
    }

    &__image {
      margin: 1rem;
      width: 45px;
    }

    &__nr {
      padding: 0rem 0.6rem;
    }
  }
}

@-webkit-keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
