.nav__container {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 2.2rem;
  display: flex;
  justify-content: flex-start;
}

.cart {
  position: relative;
}

.jello {
  -webkit-animation: jello 0.9s both;
  animation: jello 0.9s both;
}

.cart-image {
  width: 50px;
}

.cart-nr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-weight: 600;
  transition: transform 0.9s ease-out;
  background-color: rgba(0, 0, 0, 0.734);
  border-radius: 50%;
  padding: 0rem 0.6rem;
}

.show {
  transform: translate(-50%, -50%) scale(1);
}

.nav__link {
  text-decoration: none;
  color: rgb(152, 152, 152);
}

.nav__link:hover {
  text-decoration: none;
  color: black;
}

.nav__item {
  padding: 1rem;
}

.nav__item:last-of-type {
  padding: 0rem;
  margin-left: 1rem;
}

.nav__item-logo {
  padding: 1rem;
}

@media screen and (max-width: 420px) {
  .nav__container {
    font-size: 2rem;
  }
  .nav__item {
    padding: 1rem 0rem 1rem 1rem;
  }
  .nav__item-logo {
    padding: 1rem 0rem;
  }
  .cart-image {
    width: 40px;
    height: 40px;
  }
  .cart-nr {
    font-size: 1.2rem;
    padding: 0rem 0.5rem;
  }
}

@-webkit-keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
