.home {
  $root: &;
  padding: 0;
  min-width: 30%;
  height: 240px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0 10px 25px 10px;
  overflow: hidden;

  &__backgroundimage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &__content {
    color: grey;
    position: absolute;
    background-color: white;
    padding: 0.4rem 1.5rem;
    opacity: 0.7;
  }

  &:hover {
    #{$root}__backgroundimage {
      transform: scale(1.2);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
    #{$root}__content {
      opacity: 0.9;
    }
  }
}

.large {
  height: 240px;
}

@media screen and (min-width: 992px) {
  .large {
    height: 380px;
  }
}
