.productwrapper {
  margin-bottom: 2.5rem;
}

.shadow {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.imagewrapper {
  position: relative;
  overflow: hidden;
}

.product {
  &__image {
    height: 220px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  &__overlay {
    position: absolute;
    transition: 0.5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50%;
    opacity: 1;
    background-color: rgba(39, 39, 39, 0.395);
    top: 90%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;

    &-button {
      background-color: white;
      border: none;
      color: grey;
      font-size: 1.3rem;
      line-height: 1.8;

      &:active {
        background-color: rgb(110, 110, 110);
        color: white;
        outline: none;
      }
    }

    &-link {
      text-decoration: none;
      color: grey;
      &:active {
        background-color: rgb(110, 110, 110);
        color: white;
      }
    }
  }

  &__info {
    display: flex;
    width: 100%;
    font-weight: bold;
    color: #717171;
    font-size: 1.7rem;
    padding: 1rem;
    justify-content: space-between;
  }

  &__name {
    width: 70%;
  }
}

@media screen and (min-width: 900px) {
  .productwrapper {
    margin-bottom: 3.5rem;
  }

  .imagewrapper {
    position: relative;
    overflow: hidden;
    &:hover {
      .product__image {
        filter: brightness(60%);
        transition: all 0.5s ease;
      }
      .product__overlay {
        opacity: 0.9;
      }
    }
  }

  .product {
    &__image {
      height: 345px;
    }
    &__overlay {
      opacity: 0;
      top: 70%;
      background-color: transparent;
      flex-direction: column;
      width: auto;
      &-button {
        line-height: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        cursor: pointer;
        &:hover {
          background-color: rgb(170, 170, 170);
          color: white;
        }
        &:active {
          background-color: rgb(110, 110, 110);
          color: white;
          outline: none;
        }
      }
      &-link {
        &:hover {
          background-color: rgb(170, 170, 170);
          color: white;
        }
        &:active {
          background-color: rgb(110, 110, 110);
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 359px) {
  .product__overlay {
    padding: 0.8rem;
    &-button {
      padding: 2px;
    }
  }
}
